body{
    background-color: #b0c4de;
}

.teacher_desk{
    text-align: center;
    margin:20px; 
    background-color: white;
}
.desk{
    background-color: white;
}
.bun{
    text-align: center;
    font-size: 30px;
    margin: 100px;
}
input{
    font-size: 20px;
}
button{
    font-size: 20px;
}
span{
    font-size: 20px;
}